<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="now" href="/tabs/now">
      <ion-icon aria-hidden="true" name="pulse-outline"></ion-icon>
      <ion-label>Sada</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="day" href="/tabs/day">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Dan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trends" href="/tabs/trends">
      <ion-icon aria-hidden="true" name="stats-chart-outline"></ion-icon>
      <ion-label>Trendovi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alarms" href="/tabs/alarms">
      <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
      <ion-label>Alarmi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Podešavanja</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
