<ion-header>
  <ion-toolbar>
    <ion-title>Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="patientData$ | async as data">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="glucose-display">
    <p class="glucose-last">Poslednje ocitavanje: {{ data.since }}</p>
    <div class="glucose-number">{{data.current}}</div>
    <div class="glucose-unit">mmol/L</div>

    <div class="trend-indicator" [ngClass]="getTrendClass(data.trend)">
      <ion-icon [name]="getTrendIcon(data.trend)"></ion-icon>
      <span>{{ trendText(data.trend) }}</span>
    </div>
  </div>

  <div class="data-groups">
    <ion-list>
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Glikemija</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let item of data.glicemia">
          <ion-label>{{ item }}</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Insulin</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let item of data.insulin">
          <ion-label>{{ item }}</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Senzor</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let item of data.senzor">
          <ion-label>{{ item }}</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Pumpica</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let item of data.pump">
          <ion-label>{{ item }}</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>