.glucose-display {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;

  .glucose-number {
    font-size: 5rem;
    font-weight: bold;
    color: #3880ff;
  }

  .glucose-unit {
    font-size: 1rem;
    color: #666;
  }

  .glucose-last {
    position: absolute;
    top: 6rem;
    right: 1rem;
    font-size: .8rem;
  }


  .trend-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 0.5rem;

    ion-icon {
      margin-right: 0.3rem;
    }

    &.trend-up {
      color: green;
    }

    &.trend-down {
      color: red;
    }

    &.trend-stable {
      color: gray;
    }
  }

}

.data-groups {
  padding: 0;

  ion-item-divider {
    font-size: 1.5rem;
  }
}

.glycemia-value {
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
}